{% extends "base.html" %}

{% block content %}

<!-- FORMULÁRIO -->
<div class="container container-form">
    <form method="POST" action="{% if categoria %}{{ url_for('categorias', id=categoria.id) }}{% else %}{{ url_for('categorias') }}{% endif %}" class="card p-4">

      <div class="text-center">
        <h3 class="mb-2 fw-semibold">Nova Categoria</h3>
        <p class="text-muted">Informe de onde vem ou para onde vai seu dinheiro.</p>
      </div>

      <div class="mb-3">
          <label class="form-label">Nome</label>
          <input type="text" name="nome" value="{{ categoria.nome if categoria else '' }}" class="form-control" required>
      </div>

      <div class="mb-3">
          <label class="form-label">Tipo</label>
          <select name="tipo" class="form-select" required>
              <option value="entrada" {% if categoria and categoria.tipo == "entrada" %}selected{% endif %}> Entrada </option>
              <option value="saida" {% if categoria and categoria.tipo == "saida" %}selected{% endif %}> Saida </option>
          </select>
      </div>

      <button type="submit" class="btn btn-custom w-100">Salvar</button>

    </form>
</div>

<h4 class="mt-4 text-center fw-semibold">Categorias cadastradas</h4>

<table class="table table-striped mt-3 text-center">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Editar</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    {% for cat in categorias %}
      <tr>
        <td>{{ cat.id }}</td>
        <td>{{ cat.nome }}</td>
        <td>{{ cat.tipo }}</td>
        <td><a href="{{ url_for('categorias', id=cat.id) }}">✏️</a></td>
        <td><a href="{{ url_for('categorias', delete_categoria=cat.id) }}" onclick="return confirm('Tem certeza?')">🗑️</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}