<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">💰 Controle Financeiro</a>

    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="menu">
      <div class="navbar-nav">
        <a class="nav-link" href="/transacoes">Transações</a>
        <a class="nav-link" href="/categorias">Categorias</a>
        <a class="nav-link" href="/pagamentos">Pagamentos</a>
      </div>
    </div>
  </div>
</nav>

<section class="hero">
    <h1>Controle total das suas finanças</h1>
    <p>Organize seus gastos, receitas e investimentos de forma simples e eficiente.</p>
</section>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>